{% extends "menu.html" %}
{% block body %}
<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <h4 class="title">Devolver Venda</h4>
      </div>
      <div class="content">
        <form action="/sale-devolve/{{ sale.id }}" method="POST" id="registerFormValidation">
          <input type="hidden" name="_METHOD" value="PUT"/>
					<input type="hidden" name="id" value="{{ sale.id }}"/>
          <div class="row">
            <div class="col-md-6 form-group">
              <p>ID <b>{{ sale.id }}</b></p>
              <p>Cliente <b>{{ sale.client }}</b></p>
              <p>Site <b>{{ sale.site }}</b></p>
              <p>Nick <b>{{ sale.username }}</b></p>
              <p>Nº de Fichas <b>{{ sale.poker_chip }}</b></p>
              <p>Valor Ficha <b>R$ {{ sale.poker_chip_value|number_format(2, ',', '.') }}</b></p>
              <p>Total <b>R$ {{ sale.poker_chip_total|number_format(2, ',', '.') }}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 form-group">
              <label>Data</label>
              <input type="date" name="returned_date" class="form-control" required="true" value="{{ 'now'|date('Y-m-d') }}">
            </div>
            <div class="col-md-2 form-group">
              <label>Conveniado</label>
              <select class="form-control" name="returned_agreed_id" required="true">
                {% for agreed in agreeds %}
                <option value="{{ agreed.id }}">{{ agreed.agreed }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-2 form-group">
              <label>Fichas</label>
              <input type="number" name="returned_poker_chip" value="{{ sale.poker_chip }}" class="form-control" required="true">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group pull-right">
                <button type="submit" class="btn btn-fill btn-success">Salvar</button>
                <a href="/sale-list/0" class="btn btn-fill btn-danger">Cancelar</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
