{% extends "menu.html" %}
{% block body %}
<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <h4 class="title">Visualizar Venda</h4>
      </div>
      <div class="content">
          <input type="hidden" name="_METHOD" value="PUT"/>
					<input type="hidden" name="id" value="{{ sale.id }}"/>
          <div class="row">
            <div class="col-md-6 form-group">
              <p>ID {{ sale.id }}</p>
              <p>{{ sale.client }}</p>
              <p>Nº de Fichas {{ sale.poker_chip }}</p>
              <p>Percentual {{ sale.poker_chip_value }}</p>
              <p>Total R$ {{ sale.poker_chip_total|number_format(2, ',', '.') }}</p>
            </div>
            <div class="col-md-6 form-group">
              <p>Parcelas</p>
							<table class="table table-striped table-no-bordered table-hover">
								<tr>
									<th>Data</th>
									<th>Valor</th>
									<th>Banco</th>
								</tr>
	              {% for portion in portions %}
								<tr>
	                <td><p>{{ portion.date|date('d/m/Y')}}</p></td>
									<td><p>R$ {{ portion.portion|number_format(2, ',', '.') }}</p></td>
									<td><p>{{portion.bank}}</p></td>
								</tr>
	              {% endfor %}
							</table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
