{% extends "menu.html" %}
{% block body %}
<div class="content">
	<div class="container-fluid">
		<div class="card">
			<div class="header">
				<h4 class="title">Editar Moeda</h4>
			</div>
			<div class="content">
				<form action="/coin-edit/{{ coin.id }}" method="POST" id="registerFormValidation">
					<input type="hidden" name="_METHOD" value="PUT"/>
					<input type="hidden" name="id" value="{{ coin.id }}"/>
					<div class="row">
						<div class="col-md-3 form-group">
							<label>Moeda</label>
							<input type="text" name="coin" value="{{ coin.coin }}" class="form-control" required>
						</div>
						<div class="col-md-3 form-group">
							<label>Porcentagem</label>
							<input type="number" name="percentage" value="{{ coin.percentage }}" class="form-control" required>
						</div>
					</div>
					<div class="row">	
						<div class="col-md-12">
							<div class="form-group pull-right">
								<button type="submit" class="btn btn-fill btn-success">Salvar</button>
								<a href="/coin-list" class="btn btn-fill btn-danger">Cancelar</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}