{% extends "menu.html" %}
{% block body %}
<div class="content">
	<div class="container-fluid">
		<div class="card">
			<div class="header">
				<h4 class="title">Editar Cliente</h4>
			</div>
			<div class="content">
				<form action="/client-edit/{{ client.id }}" method="POST" id="registerFormValidation">
					<input type="hidden" name="_METHOD" value="PUT"/>
					<input type="hidden" name="id" value="{{ client.id }}"/>
					<div class="row">
						<div class="col-md-6 form-group">
							<label>Cliente</label>
							<input type="text" name="client" value="{{ client.client }}" class="form-control" required>
						</div>
						<div class="col-md-3 form-group">
							<label>Telefone</label>
							<input type="text" name="phone" value="{{ client.phone }}" class="form-control" data-inputmask='"mask":"(99) 99999-9999"' data-mask>
						</div>
						<div class="col-md-3 form-group">
							<label>Facebook</label>
							<input type="url" name="facebook" value="{{ client.facebook }}" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 form-group">
							<label>CPF</label>
							<input type="text" name="cpf" value="{{ client.cpf }}" class="form-control" data-inputmask='"mask":"999.999.999-99"' data-mask>
						</div>
						<div class="col-md-3 form-group">
							<label>RG</label>
							<input type="text" name="rg" value="{{ client.rg }}" class="form-control"  data-inputmask='"mask":"999.999.999/99"' data-mask>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 form-group">
							<label>Observações</label>
							<textarea class="form-control" name="observation" rows="5">{{ client.observation }}</textarea>
						</div>
					</div>
					<div class="row">	
						<div class="col-md-12">
							<div class="form-group pull-right">
								<button type="submit" class="btn btn-fill btn-success">Salvar</button>
								<a href="/client-list" class="btn btn-fill btn-danger">Cancelar</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}