{% extends "menu.html" %}
{% block body %}
<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <h4 class="title">Finalizar Compra</h4>
      </div>
      <div class="content">
        <form action="/purchase-edit/{{ purchase.id }}" method="POST" id="registerFormValidation">
          <input type="hidden" name="_METHOD" value="PUT"/>
					<input type="hidden" name="id" value="{{ purchase.id }}"/>
          <div class="row">
            <div class="col-md-2 form-group">
              <p>ID {{ purchase.id }}</p>
              <p>{{ purchase.client }}</p>
              <p>Nº de Fichas {{ purchase.poker_chip }}</p>
              <p>Percentual {{ purchase.poker_chip_value }}</p>
              <p>Total R$ {{ purchase.poker_chip_total|number_format(2, ',', '.') }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 form-group">
              <label>Data</label>
              <input type="date" name="date" class="form-control" required="true" value="{{ 'now'|date('Y-m-d') }}">
            </div>
            <div class="col-md-2 form-group">
              <label>Conta</label>
              <select class="form-control" name="bank_id" required="true">
                {% for bank in banks %}
                <option value="{{ bank.id }}">{{ bank.bank }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-2 form-group">
              <label>Valor</label>
              <input type="number" name="total" value="{{ purchase.poker_chip_total }}" class="form-control" required="true">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group pull-right">
                <button type="submit" class="btn btn-fill btn-success">Salvar</button>
                <a href="/purchase-list/0" class="btn btn-fill btn-danger">Cancelar</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
