{% extends "menu.html" %}

{% block body %}
<div class="content">
	<div class="container-fluid">
		<div class="card">
			<div class="header">
				<h4 class="title">{{ agreed.agreed }}</h4>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-sm-12">
						<h5>{{ agreed.phone }}</h5>
						<h5>{{ agreed.facebook }}</h5>
						<h5>{{ agreed.observation }}</h5>
						<h5>R$ {{ agreed.balance|number_format(2, ',', '.') }}</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="header">
				<h4 class="title">Sites <a type="button" href="/agreed-site-new/{{ agreed.id }}" title="Cadastrar" class="btn btn-social btn-round btn-default btn-fill"><i class="fa fa-plus"></i></a></h4>
			</div>
			<div class="content">
				<div class="table-responsive">
					<table class="table table-striped table-no-bordered table-hover display" cellspacing="0" width="100%" style="width:100%">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Endereço</th>
								<th>Observações</th></th>
							</tr>
						</thead>
						<tbody>
							{% for site in sites %}
							<tr>
								<td>{{ site.site }}</td>
								<td>{{ site.address }}</td>
								<td>{{ site.observation }}</td>
								<td>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
