{% extends "menu.html" %}

{% block body %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="content">
						<div id="sales"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="content">
						<div id="purchases"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">

	var sales = {{ sales|raw }};
	var labels = {};
	var series_f = {};
	var series_p = {};


	$(sales).each(function(index, obj) {
		labels[obj.label] = 'Dia ' + obj.label;

		if(obj.status == 0){
			series_p[obj.label] = obj.data;
		}else{
			series_f[obj.label] = obj.data;
		}

		if(!(obj.label in series_f)){
			series_f[obj.label] = null;
		}
		if(!(obj.label in series_p)){
			series_p[obj.label] = null;
		}
	});

	var labels = Object.keys(labels).map(function (key) { return labels[key]; });
	var series_p = Object.keys(series_p).map(function (key) { return series_p[key]; });
	var series_f = Object.keys(series_f).map(function (key) { return series_f[key]; });

	Highcharts.chart('sales', {
		title: {
			text: 'Vendas'
		},
		credits: {
      enabled: false
	  },
		subtitle: {
			text: '{{ "now"|date("M") }}'
		},
		xAxis: {
			categories: labels
		},
		yAxis: {
			title: {
				text: 'Total'
			},
			labels: {
				formatter: function () {
					return 'R$ ' + this.value;
				}
			}
		},
		tooltip: {
			crosshairs: true,
			shared: true
		},
		series: [{
			name: 'Faturado',
			color: 'green',
			data: series_f
		}, {
			name: 'Pendente',
			color: 'red',
			data: series_p
		}]
	});

	var purchases = {{ purchases|raw }};
	labels = {};
	series_f = {};
	series_p = {};


	$(purchases).each(function(index, obj) {
		labels[obj.label] = 'Dia ' + obj.label;

		if(obj.status == 0){
			series_p[obj.label] = obj.data;
		}else{
			series_f[obj.label] = obj.data;
		}

		if(!(obj.label in series_f)){
			series_f[obj.label] = null;
		}
		if(!(obj.label in series_p)){
			series_p[obj.label] = null;
		}
	});

	var labels = Object.keys(labels).map(function (key) { return labels[key]; });
	var series_p = Object.keys(series_p).map(function (key) { return series_p[key]; });
	var series_f = Object.keys(series_f).map(function (key) { return series_f[key]; });

	Highcharts.chart('purchases', {
		title: {
			text: 'Compras'
		},
		credits: {
			enabled: false
		},
		subtitle: {
			text: '{{ "now"|date("M") }}'
		},
		xAxis: {
			categories: labels
		},
		yAxis: {
			title: {
				text: 'Total'
			},
			labels: {
				formatter: function () {
					return 'R$ ' + this.value;
				}
			}
		},
		tooltip: {
			crosshairs: true,
			shared: true
		},
		series: [{
			name: 'Efetuada',
			color: 'green',
			data: series_f
		}, {
			name: 'Pendente',
			color: 'red',
			data: series_p
		}]
	});


</script>

{% endblock %}
