{% extends "menu.html" %}

{% block body %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="header">
						Vendas
						<p class="category">{{ "now"|date("M") }}</p>
					</div>
					<div class="content">
						<div id="chartSales" class="ct-chart "></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	function initChartSales()
	{
		var data = {{ sales|raw }};
		var labels = [];
		var series = [];

		$(data).each(function(index, obj) {
			labels.push(parseInt(obj.label));
			series.push(parseInt(obj.data));
		});

		var dataStock = {labels: labels, series: [series]};

		var optionsSales = {
			lineSmooth: false,
			axisY: {
				offset: 70,
				labelInterpolationFnc: function(value) {
					return 'R$ ' + value;
				}
			},
			axisX: {
				labelInterpolationFnc: function(value) {
					return 'Dia ' + value;
				}
			},
			classNames: {
				point: 'ct-point ct-green',
				line: 'ct-line ct-green'
			}
		};

		Chartist.Line('#chartSales', dataStock, optionsSales);
	}

	initChartSales();


</script>

{% endblock %}