{% extends "menu.html" %}

{% block body %}
<div class="content">
	<div class="container-fluid">
		<div class="card">
			<div class="header">
				<h4 class="title">{{ bank.bank }}</h4>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-sm-12">
						<h5>{{ bank.account }}</h5>
						{% set total = 0 %}
						{% for outlay in totalOutlay %}
							{% if outlay.operation == '+' %}
								{% set total = total + outlay.total %}
							{% else %}
								{% set total = total + (-outlay.total) %}
							{% endif %}
						{% endfor %}
						<h5>R$ {{ (bank.balance + totalSale.total + total)|number_format(2, ',', '.') }}</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="header">
						<h4 class="title">Extrato</h4>
					</div>
					<div class="content">
						<div class="table-responsive">
							<table class="table table-striped table-no-bordered table-hover displaynosearch" cellspacing="0" width="100%" style="width:100%">
								<thead>
									<tr>
										<th>Data</th>
										<th>Tipo</th>
										<th>Venda/Plano de Conta</th>
										<th>Valor</th>
									</tr>
								</thead>
								<tbody>
									{% for sale in sales %}
									<tr>
										<td>{{ sale.date|date('d/m/Y') }}</td>
										<td>Venda</td>
										<td><a href="javascript:window.open('/sale-view/{{ sale.sale_id }}','Venda {{sale.id}}','width=750,height=750')">Venda {{sale.id}}</a></td>
										<td align="right">R$ {{ sale.portion|number_format(2, ',', '.') }}</td>
									</tr>
									{% endfor %}
									{% for outlay in outlays %}
									<tr>
										<td>{{ outlay.date|date('d/m/Y') }}</td>
										<td>{{ outlay.outlay }}</td>
										<td>{{ outlay.plan }}</td>
										{% if outlay.operation == '-' %}
											<td style="color: red;" align="right">R$ {{ outlay.operation }} {{ outlay.total|number_format(2, ',', '.') }}</td>
										{% else %}
											<td align="right">R$ {{ outlay.operation }} {{ outlay.total|number_format(2, ',', '.') }}</td>
										{% endif %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
