{% extends "menu.html" %}
{% block body %}
<div class="content">
	<div class="container-fluid">
		<div class="card">
			<div class="header">
				<h4 class="title">Editar Conta Bancária</h4>
			</div>
			<div class="content">
				<form action="/bank-edit/{{ bank.id }}" method="POST" id="registerFormValidation">
					<input type="hidden" name="_METHOD" value="PUT"/>
					<input type="hidden" name="id" value="{{ bank.id }}"/>
					<div class="row">
						<div class="col-md-6 form-group">
							<label>Banco</label>
							<input type="text" name="bank" value="{{ bank.bank }}" class="form-control" required>
						</div>
						<div class="col-md-3 form-group">
							<label>Agência/Conta</label>
							<input type="text" name="account" value="{{ bank.account }}" class="form-control" required>
						</div>
						<div class="col-md-3 form-group">
							<label>Saldo atual</label>
							<input type="number" name="balance" value="{{ bank.balance }}" class="form-control" disabled="true">
						</div>
					</div>
					<div class="row">	
						<div class="col-md-12">
							<div class="form-group pull-right">
								<button type="submit" class="btn btn-fill btn-success">Salvar</button>
								<a href="/bank-list" class="btn btn-fill btn-danger">Cancelar</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}