{% extends "menu.html" %}

{% block body %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="header">
						<h4 class="title">Fluxo do Caixa <a type="button" href="/outlay-new" title="Cadastrar" class="btn btn-social btn-round btn-default btn-fill"><i class="fa fa-plus"></i></a></h4>
					</div>
					<div class="content">
						<div class="table-responsive">
							<table class="table table-striped table-no-bordered table-hover display" cellspacing="0" width="100%" style="width:100%">
								<thead>
									<tr>
										<th>Descrição</th>
										<th>Plano de Conta</th>
										<th>Banco</th>
										<th>Valor</th>
										<!-- <th>Ações</th> -->
									</tr>
								</thead>
								<tbody>
									{% for outlay in outlays %}
									<tr> 
										<td>{{ outlay.outlay }}</td>
										<td>{{ outlay.plan }}</td>
										<td>{{ outlay.account }}</td>
										<td>R$ {{ outlay.total }}</td>
<!-- 										<td>
											<div class="btn-group">
												{% if outlay.active == 0 %}
						                        <button type="submit" onclick="deleteoutlay({{ outlay.id }}, 'remover')" title="Remover" class="btn btn-danger btn-fill"><i class="fa fa-remove"></i></button>
						                        {% elseif outlay.active == 1 %}
						                        <button type="submit" onclick="deleteoutlay({{ outlay.id }}, 'ativar')" title="Ativar" class="btn btn-warning btn-fill"><i class="fa fa-check"></i></button>
						                        {% endif %}
												<a type="button" href="/outlay-edit/{{ outlay.id }}" title="Editar" class="btn btn-info btn-fill"><i class="fa fa-pencil"></i></a> 
												<a type="button" href="/outlay-view/{{ outlay.id }}" title="Visualizar" class="btn btn-success btn-fill"><i class="fa fa-eye"></i></a>
											</div>
										</td> -->
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  function deleteoutlay(id, message)
  {
    swal({  title: "Deseja " + message + " a conta bancária?",
      type: "warning",
      showCancelButton: true,
      confirmButtonText: "Sim",
      cancelButtonText: "Não",
      closeOnConfirm: false,
      closeOnCancel: false
    },function(isConfirm){
      if (isConfirm){
        $.ajax({
          type: "DELETE",
          url: "/outlay-active/" + id,
          success: function(data) {
            data = JSON.parse(data);
            swal({  title: data['msg'],
              type: data['class'],
              showCancelButton: false,
              confirmButtonText: "Ok",
              closeOnConfirm: false
            },function(isConfirm){
              if (isConfirm){
                window.location.href = data['route'];
              }
            });

            
          }
        });
      }else{
        swal("A tentantiva de " + message + " a conta bancária falhou.", "", "error");
      }
    });
  }
</script>
{% endblock %}